@using Apprenticeship.Data.Entities
@model int
@{
	var trainingId = (int)ViewBag.trainingId;
}
<link href="~/assets2/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/css/form.css" />
<style>
	tbody tr:hover {
		background-color: rgb(197, 228, 235) !important;
	}
</style>
<div style="    padding-left: 294px;
    margin-top: 40px;
    padding-right: 50px;">
	<div class="col-12">
		<div class="card">
			<div class="card-body">

				<div class="table-responsive">
					<div class="rowDispaly" style="display: flex;justify-content: space-between;width: 100%;align-items: center;margin-bottom: 20px;">
						<h4 class="card-title">Reports</h4>
						
						@if ((bool)(ViewBag.cadAddReport) == true)
						{
							<a href="/Report/Add?assignmentId=@Model&trainingId=@trainingId" class="btn btn-primary">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
									<path d="M8 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13A.5.5 0 0 1 8 1zm7 7a.5.5 0 0 1-.5.5H1a.5.5 0 0 1 0-1h13.5a.5.5 0 0 1 .5.5z" />
								</svg>
							Report
							</a>
						}
						else
						{
							<a href="#" class="btn btn-dangor">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
									<path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zM7 4a1 1 0 0 1 2 0v4.5h2a1 1 0 0 1 0 2H8a1 1 0 0 1-1-1V4z" />
								</svg>
								Deadline End
							</a>
						}

					</div>
					<table id="zero_config" class="table table-striped table-bordered no-wrap">
						<thead>
							<tr>
							<tr>
								<th>Report Name</th>
								<th>Report Description</th>
								<th>Report Notes</th>
								<th>Report Status</th>
								<th>Report Document</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var report in (List<Report>)(ViewBag.reports))
							{
								<tr>
									<td>@report.reportName</td>
									@{
										var descriptionWords = report.reportDescription.Split(' ');
										var firstFiveWords = string.Join(" ", descriptionWords.Take(5));
									}
									<td>@firstFiveWords...</td>
									@{
										var descriptionWordsNotes = report.reportNotes.Split(' ');
										var firstFiveWordsNotes = string.Join(" ", descriptionWords.Take(5));
									}
									<td>@firstFiveWordsNotes...</td>
									@if (@report.reportStatus.reportStatusName == "Pending")
									{
										<td style="background:#007bff">@report.reportStatus.reportStatusName</td>
										<td>
											@if (((List<Document>)ViewBag.documents).Count > 0)
											{
												@foreach (var d in (List<Document>)(ViewBag.documents))
												{
													if (d.reportId == report.reportId)
													{
														<a href="/Assignment/GetFile?documentId=@d.documentId" target="_blank">@d.name</a>
														break;
													}
												}
											}

										</td>
										<td><a class="btn btn-success" href="/Report/Edit?reportId=@report.reportId&trainingId=@trainingId">Edit</a></td>
										<td><a class="btn btn-danger" href="/Report/Delete?reportId=@report.reportId&assignmentId=@report.assignmentId&trainingId=@trainingId">Delete</a></td>
									}
									else if (@report.reportStatus.reportStatusName == "Rejected")
									{
										<td style="background:#dc3545">@report.reportStatus.reportStatusName</td>
										<td>
											@foreach (var d in (List<Document>)(ViewBag.documents))
											{
												if (d.reportId == report.reportId)
												{
													<a href="/Report/GetFile?documentId=@d.documentId" target="_blank">@d.name</a>
													break;
												}
											}
										</td>
										<td><a class="btn btn-success" href="/Report/Edit?reportId=@report.reportId&trainingId=@trainingId" style="pointer-events: none;">Edit</a></td>
										<td><a class="btn btn-danger" href="/Report/Delete?reportId=@report.reportId&assignmentId=@report.assignmentId&trainingId=@trainingId" style="pointer-events: none;">Delete</a></td>
									}
									else
									{
										<td style="background:#17a2b8">@report.reportStatus.reportStatusName</td>
										<td>
											@foreach (var d in (List<Document>)(ViewBag.documents))
											{
												if (d.reportId == report.reportId)
												{
													<a href="/Report/GetFile?documentId=@d.documentId" target="_blank">@d.name</a>
												}
											}
										</td>
										<td><a class="btn btn-success" href="/Report/Edit?reportId=@report.reportId&trainingId=@trainingId" style="pointer-events: none;">Edit</a></td>
										<td><a class="btn btn-danger" href="/Report/Delete?reportId=@report.reportId&assignmentId=@report.assignmentId&trainingId=@trainingId" style="pointer-events: none;">Delete</a></td>
									}

								</tr>
							}
						</tbody>
						<tfoot>
							<tr>
								<th>Report Name</th>
								<th>Report Description</th>
								<th>Report Notes</th>
								<th>Report Status</th>
								<th>Report Document</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/assets2/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dist/js/app-style-switcher.js"></script>
<script src="~/assets2/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>

@* <link href="~/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/css/form.css" />

<div class="col-12">
	<div class="card">
		<div class="card-body">

			<div class="table-responsive">
				<div class="rowDispaly">
					<h4 class="card-title">Trainings Information</h4>
					<h4>
						@if ((bool)(ViewBag.cadAddReport) == true)
						{
							<a class="btn waves-effect waves-light btn-lg btn-rounded myBtn" href="/Report/Add?assignmentId=@Model&trainingId=@trainingId">Add Report</a>
						}
						else
						{
							<a class="btn waves-effect waves-light btn-lg btn-rounded myBtn">Deadline End</a>
						}
					</h4>

				</div>
				<table id="zero_config" class="table table-striped table-bordered no-wrap">
					<thead>
						<tr>
							<th>Report Name</th>
							<th>Report Description</th>
							<th>Report Notes</th>
							<th>Report Status</th>
							<th>Report Document</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var report in (List<Report>)(ViewBag.reports))
						{
							<tr>
								<td>@report.reportName</td>
								@{
									var descriptionWords = report.reportDescription.Split(' ');
									var firstFiveWords = string.Join(" ", descriptionWords.Take(5));
								}
								<td>@firstFiveWords...</td>
								@{
									var descriptionWordsNotes = report.reportNotes.Split(' ');
									var firstFiveWordsNotes = string.Join(" ", descriptionWords.Take(5));
								}
								<td>@firstFiveWordsNotes...</td>
								@if (@report.reportStatus.reportStatusName == "Pending")
								{
									<td style="background:#007bff">@report.reportStatus.reportStatusName</td>
									<td>
										@if (((List<Document>)ViewBag.documents).Count > 0)
										{
											@foreach (var d in (List<Document>)(ViewBag.documents))
											{
												if (d.reportId == report.reportId)
												{
													<a href="/Assignment/GetFile?documentId=@d.documentId" target="_blank">@d.name</a>
													break;
												}
											}
										}

									</td>
									<td><a class="btn btn-success" href="/Report/Edit?reportId=@report.reportId&trainingId=@trainingId">Edit</a></td>
									<td><a class="btn btn-danger" href="/Report/Delete?reportId=@report.reportId&assignmentId=@report.assignmentId&trainingId=@trainingId">Delete</a></td>
								}
								else if (@report.reportStatus.reportStatusName == "Rejected")
								{
									<td style="background:#dc3545">@report.reportStatus.reportStatusName</td>
									<td>
										@foreach (var d in (List<Document>)(ViewBag.documents))
										{
											if (d.reportId == report.reportId)
											{
												<a href="/Report/GetFile?documentId=@d.documentId" target="_blank">@d.name</a>
												break;
											}
										}
									</td>
									<td><a class="btn btn-success" href="/Report/Edit?reportId=@report.reportId&trainingId=@trainingId" style="pointer-events: none;">Edit</a></td>
									<td><a class="btn btn-danger" href="/Report/Delete?reportId=@report.reportId&assignmentId=@report.assignmentId&trainingId=@trainingId" style="pointer-events: none;">Delete</a></td>
								}
								else
								{
									<td style="background:#17a2b8">@report.reportStatus.reportStatusName</td>
									<td>
										@foreach (var d in (List<Document>)(ViewBag.documents))
										{
											if (d.reportId == report.reportId)
											{
												<a href="/Report/GetFile?documentId=@d.documentId" target="_blank">@d.name</a>
											}
										}
									</td>
									<td><a class="btn btn-success" href="/Report/Edit?reportId=@report.reportId&trainingId=@trainingId" style="pointer-events: none;">Edit</a></td>
									<td><a class="btn btn-danger" href="/Report/Delete?reportId=@report.reportId&assignmentId=@report.assignmentId&trainingId=@trainingId" style="pointer-events: none;">Delete</a></td>
								}

							</tr>
						}
					</tbody>
					<tfoot>
						<tr>
							<th>Report Name</th>
							<th>Report Description</th>
							<th>Report Notes</th>
							<th>Report Status</th>
							<th>Report Document</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
<script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dist/js/app-style-switcher.js"></script>
<script src="~/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>
 *@